@font-face {
  font-family: "iconfont"; /* Project id 3385130 */
  src: url('iconfont.woff2?t=1656724453902') format('woff2'),
       url('iconfont.woff?t=1656724453902') format('woff'),
       url('iconfont.ttf?t=1656724453902') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rcd-user:before {
  content: "\e611";
}

.icon-rcd-locked:before {
  content: "\e613";
}

.icon-xiaoxi:before {
  content: "\e63c";
}

.icon-a-xiangqingliebiao:before {
  content: "\e63e";
}

.icon-a-zhengquequeding:before {
  content: "\e63f";
}

.icon-a-tishi11:before {
  content: "\e640";
}

.icon-close-fill:before {
  content: "\e8d6";
}

.icon-lianjie:before {
  content: "\e600";
}

.icon-fuwu_o:before {
  content: "\ebbe";
}

.icon-guanyu:before {
  content: "\e604";
}

.icon-shijianguanli:before {
  content: "\e7b9";
}

.icon-bar-chart-horizontal-line:before {
  content: "\e6e9";
}

.icon-xitongzhongxin:before {
  content: "\e639";
}

.icon-xiaoxizhongxin:before {
  content: "\e63b";
}

